/GNUmakefile
/build/
/docs/clock-model/benchmarks/
/docs/clock-model/*-results.json
/docs/clock-model/SKEW_*_VALIDATION_*.json
/.cache/
/.vscode/
*.pyc
.sdk
.stgit-*
.git-submodule-status
.clang-format
.gdb_history
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.swp
*.patch
*.gcov
